.card {
  width: 100%;
  padding: 5%;
  box-shadow: -1px 1px 10px var(--dark-gray);
  border-radius: 0.5rem;
  background-color: var(--white);
}

.headingContainer {
  margin: 0.75rem 0;
}

.heading {
  font-size: 1rem;
  font-weight: bold;
}

.contentContainer > p {
  font-size: 0.875rem;
  letter-spacing: 0.02rem;
}
