:root {
  --primary-color: #f4b218;
  --focus-color: #f4b218;
  --black: #000;
  --white: #fff;
  --gray: #eaeae9;
  --dark-gray: #b1b1b1;

  --font-family: "Roboto";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--gray);
}
