.navbar {
  width: 100%;
  padding: 0.75rem;
  font-family: var(--font-family);
  background-color: var(--primary-color);
  color: var(--white);
  border-bottom: 1px solid var(--gray);
}

.navbar .logoContainer {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logoContainer > svg {
  font-size: 1rem;
}

.navbar p {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
}

@media only screen and (min-width: 1000px) {
  .navbar {
    padding: 1.25rem;
  }
  .navbar .logoContainer {
    width: 10%;
    justify-content: space-evenly;
  }
  .navbar .logoContainer > svg {
    font-size: 1.25rem;
  }
  .navbar p {
    font-size: 1.25rem;
  }
}
